body {
    background-color: #282828;
    color: #fbf1c7;
    font-family: sans-serif;
}
a {
    color: #83a598;
    text-decoration: none;
}
a:hover {
    color: #458588;
    text-decoration: underline;
}
